{# default Sliding pagination control implementation #}

{% if pageCount > 1 %}
<ul class="pagination">
    {% if first is defined and current != first %}
        <li class="page-item page-first">
            <a class="page-link" href="{{ path(route, query|merge({(pageParameterName): first})) }}#table"></a>
        </li>
    {% endif %}

    {% if previous is defined %}
        <li class="page-item page-left">
            <a href="{{ path(route, query|merge({(pageParameterName): previous})) }}#table"></a>
        </li>
    {% endif %}

    {% for page in pagesInRange %}
        {% if page != current %}
            <li class="page-item">
                <a class="page-link" href="{{ path(route, query|merge({(pageParameterName): page})) }}#table">{{ page }}</a>
            </li>
        {% else %}
            <li class="page-item active">
                <a class="page-link" href="javascript:void(0)">{{ page }} <span class="sr-only">(current)</span></a>
            </li>
        {% endif %}

    {% endfor %}

    {% if next is defined %}
        <li class="page-item page-right">
            <a class="page-link" href="{{ path(route, query|merge({(pageParameterName): next})) }}#table"></a>
        </li>
    {% endif %}

    {% if last is defined and current != last %}
        <li class="page-item page-last">
            <a class="page-link" href="{{ path(route, query|merge({(pageParameterName): last})) }}#table"></a>
        </li>
    {% endif %}
</ul>
{% endif %}