{% extends 'table.html.twig' %}

{% block stats %}
    <div class="top-info-2 like-table">
        <ul>
            <li>
                <div class="info-title">
                    <h4>Текущий месяц</h4>
                </div>
                <div class="info-body">
                    <p>{{ stats.cur_mounth_price|number_format(2, '.', '') }}руб/{{ (stats.cur_mounth_price/rate)|number_format(2, '.', '') }}$</p>
                    <p>{{ stats.cur_mounth_qty }}шт</p>
                </div>
            </li>
            <li>
                <div class="info-title">
                    <h4>Прошлый месяц</h4>
                </div>
                <div class="info-body">
                    <p>{{ stats.prev_mounth_price|number_format(2, '.', '') }}руб/{{ (stats.prev_mounth_price/rate)|number_format(2, '.', '') }}$</p>
                    <p>{{ stats.prev_mounth_qty }}шт</p>
                </div>
            </li>
            <li>
                <div class="info-title">
                    <h4>Текущий квартал</h4>
                </div>
                <div class="info-body">
                    <p>{{ stats.cur_quarter_price|number_format(2, '.', '') }}руб/{{ (stats.cur_quarter_price/rate)|number_format(2, '.', '') }}$</p>
                    <p>{{ stats.cur_quarter_qty }}шт</p>
                </div>
            </li>
            <li>
                <div class="info-title">
                    <h4>Прошлый квартал</h4>
                </div>
                <div class="info-body">
                    <p>{{ stats.prev_quarter_price|number_format(2, '.', '') }}руб/{{ (stats.prev_quarter_price/rate)|number_format(2, '.', '') }}$</p>
                    <p>{{ stats.prev_quarter_qty }}шт</p>
                </div>
            </li>
            <li>
                <div class="info-title">
                    <h4>год</h4>
                </div>
                <div class="info-body">
                    <p>{{ stats.cur_year_price_byn|number_format(2, '.', '') }}руб/{{ (stats.cur_year_price_byn/rate)|number_format(2, '.', '') }}$</p>
                    <p>{{ stats.cur_year_qty }}шт</p>
                </div>
            </li>
        </ul>
    </div>
{% endblock %}

{% block content %}

    <div class="box">
        {{ include('AppBundle:product:_filters.html.twig', {'action' : path("app_crossout_list"), 'terms': terms})  }}
        {% if items|length > 0 %}
            {% set route = app.request.attributes.get('_route') %}
            {% if terms.priceFrom is not defined %}{% set terms = terms|merge({'priceFrom' : ""}) %}{% endif %}
            {% if terms.sortCol is not defined %}{% set terms = terms|merge({'sortCol' : ""}) %}{% endif %}
            <span class="text-uppercase">Выбрано</span>: <span id="checked-products">{{ ids|length }}</span> товаров
            <section class="table-00">
                <a name="table"></a>
                <table id="table-search">
                    <thead>
                        <tr>
                            <th class="title-td txt-left td-border-right">
                                <h3>Товары</h3>
                            </th>
                            <th>
                                <h3>Колличество<br>шт.</h3>
                                <div class="sort-case">
                                    <a href="{{ path(route, app.request.query|merge({'sortCol': 'total', 'sortOrder' : 'ASC'})) }}#table">
                                        <span class="plus{% if terms.sortCol == "total" %} b-blk{% endif %}" {% if terms.sortCol == "total" and terms.sortOrder == "ASC" %}style="display:none"{% endif %}></span></a>
                                    <a href="{{ path(route, app.request.query|merge({'sortCol': 'total', 'sortOrder' : 'DESC'})) }}#table">
                                        <span class="minus{% if terms.sortCol == "total" %} b-blk{% endif %}" {% if terms.sortCol == "total" and terms.sortOrder == "DESC" %}style="display:none"{% endif %}></span></a>
                                </div>
                            </th>
                            <th>
                                <h3>Закупки<br>руб.</h3>
                                <div class="sort-case">
                                    <a href="{{ path(route, app.request.query|merge({'sortCol': 'price-purchase-byn', 'sortOrder' : 'ASC'})) }}#table">
                                        <span class="plus{% if terms.sortCol == "price-purchase-byn" %} b-blk{% endif %}" {% if terms.sortCol == "price-purchase-byn" and terms.sortOrder == "ASC" %}style="display:none"{% endif %}></span></a>
                                    <a href="{{ path(route, app.request.query|merge({'sortCol': 'price-purchase-byn', 'sortOrder' : 'DESC'})) }}#table">
                                        <span class="minus{% if terms.sortCol == "price-purchase-byn" %} b-blk{% endif %}" {% if terms.sortCol == "price-purchase-byn" and terms.sortOrder == "DESC" %}style="display:none"{% endif %}></span></a>
                                </div>
                            </th>
                            <th>
                                <h3>Закупки<br>$</h3>
                                <div class="sort-case">
                                    <a href="{{ path(route, app.request.query|merge({'sortCol': 'price-purchase', 'sortOrder' : 'ASC'})) }}#table">
                                        <span class="plus{% if terms.sortCol == "price-purchase" %} b-blk{% endif %}" {% if terms.sortCol == "price-purchase" and terms.sortOrder == "ASC" %}style="display:none"{% endif %}></span></a>
                                    <a href="{{ path(route, app.request.query|merge({'sortCol': 'price-purchase', 'sortOrder' : 'DESC'})) }}#table">
                                        <span class="minus{% if terms.sortCol == "price-purchase" %} b-blk{% endif %}" {% if terms.sortCol == "price-purchase" and terms.sortOrder == "DESC" %}style="display:none"{% endif %}></span></a>
                                </div>
                            </th>
                            <th>
                                <h3>Продажи<br>руб.</h3>
                                <div class="sort-case">
                                    <a href="{{ path(route, app.request.query|merge({'sortCol': 'price-sale', 'sortOrder' : 'ASC'})) }}#table">
                                        <span class="plus{% if terms.sortCol == "price-sale" %} b-blk{% endif %}" {% if terms.sortCol == "price-sale" and terms.sortOrder == "ASC" %}style="display:none"{% endif %}></span></a>
                                    <a href="{{ path(route, app.request.query|merge({'sortCol': 'price-sale', 'sortOrder' : 'DESC'})) }}#table">
                                        <span class="minus{% if terms.sortCol == "price-sale" %} b-blk{% endif %}" {% if terms.sortCol == "price-sale" and terms.sortOrder == "DESC" %}style="display:none"{% endif %}></span></a>
                                </div>
                            </th>
                            <th>
                                <h3>Продажа<br>$</h3>
                                <div class="sort-case">
                                    <a href="{{ path(route, app.request.query|merge({'sortCol': 'price-sale', 'sortOrder' : 'ASC'})) }}#table">
                                        <span class="plus{% if terms.sortCol == "price-sale" %} b-blk{% endif %}" {% if terms.sortCol == "price-sale" and terms.sortOrder == "ASC" %}style="display:none"{% endif %}></span></a>
                                    <a href="{{ path(route, app.request.query|merge({'sortCol': 'price-sale', 'sortOrder' : 'DESC'})) }}#table">
                                        <span class="minus{% if terms.sortCol == "price-sale" %} b-blk{% endif %}" {% if terms.sortCol == "price-sale" and terms.sortOrder == "DESC" %}style="display:none"{% endif %}></span></a>
                                </div>
                            </th>
                            <th>
                                <h3>Цена списания<br/>руб.</h3>
                                <div class="sort-case">
                                    <a href="{{ path(route, app.request.query|merge({'sortCol': 'price-crossout', 'sortOrder' : 'ASC'})) }}#table">
                                        <span class="plus{% if terms.sortCol == "price-crossout" %} b-blk{% endif %}" {% if terms.sortCol == "price-crossout" and terms.sortOrder == "ASC" %}style="display:none"{% endif %}></span></a>
                                    <a href="{{ path(route, app.request.query|merge({'sortCol': 'price-crossout', 'sortOrder' : 'DESC'})) }}#table">
                                        <span class="minus{% if terms.sortCol == "price-crossout" %} b-blk{% endif %}" {% if terms.sortCol == "price-crossout" and terms.sortOrder == "DESC" %}style="display:none"{% endif %}></span></a>
                                </div>
                            </th>
                            <th>
                                <h3>Дата списания</h3>
                                <div class="sort-case">
                                    <a href="{{ path(route, app.request.query|merge({'sortCol': 'date-crossout', 'sortOrder' : 'ASC'})) }}#table">
                                        <span class="plus{% if terms.sortCol == "date-crossout" %} b-blk{% endif %}" {% if terms.sortCol == "date-crossout" and terms.sortOrder == "ASC" %}style="display:none"{% endif %}></span></a>
                                    <a href="{{ path(route, app.request.query|merge({'sortCol': 'date-crossout', 'sortOrder' : 'DESC'})) }}#table">
                                        <span class="minus{% if terms.sortCol == "date-crossout" %} b-blk{% endif %}" {% if terms.sortCol == "date-crossout" and terms.sortOrder == "DESC" %}style="display:none"{% endif %}></span></a>
                                </div>
                            </th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr class="bg-color">
                            <td></td>
                            <td>
                                <a href="#" class="mark-lg">{{ total.qty }}</a>
                            </td>
                            <td>
                                <span class="mark-lg">{{ total.purchase_price_byn|number_format(2, '.', '') }}</span>
                            </td>
                            <td class="txt-left">
                                <span class="mark-lg">{{ total.purchase_price|number_format(2, '.', '') }}</span>
                            </td>
                            <td class="txt-left">
                                <span class="mark-lg">{{ total.sale_price|number_format(2, '.', '') }}</span>
                            </td>
                            <td>
                                <span class="mark-lg">{{ (total.sale_price/rate)|number_format(2, '.', '') }}</span>
                            </td>
                            <td>
                                <span class="mark-lg">{{ (total.crossout_price)|number_format(2, '.', '') }}</span>
                            </td>
                            <td></td>
                        </tr>
                        {% for key,item in items %}
                            <tr>
                                <td class="title-tr txt-left td-border-right plus">
                                    <div class="checkbox-style">
                                        <input id="checkbox-{{ item.id }}" name="productCrossout[{{ item.id }}]" {% if item.id in ids %}checked="checked"{% endif %} value="{{ item.id }}" type="checkbox">
                                        <label for="checkbox-{{ item.id }}"><span class="checkbox ckeckbox-group"></span></label>
                                    </div>
                                    {{ item.productSale.product.title }}
                                    <input type="hidden" name="id[]" value="{{ item.productSale.product.id }}" />
                                </td>
                                <td>
                                    {{ item.productSale.qty }}
                                </td>
                                <td>
                                    <span class="priceByn-purchase">{{ item.productSale.product.priceByn|number_format(2, '.', '') }}</span>
                                </td>
                                <td>
                                    <span class="price-purchase">{{ item.productSale.product.price|number_format(2, '.', '') }}</span>
                                </td>
                                <td>
                                    <span class="priceByn-sale">{{ item.productSale.price|number_format(2, '.', '') }}</span>
                                </td>
                                <td>
                                    <span class="price-sale">{{ (item.productSale.price/rate)|number_format(2, '.', '') }}</span>
                                </td>
                                <td>
                                    <span class="price-crossout">{{ item.price|number_format(2, '.', '') }}</span>
                                </td>
                                <td>
                                    <span class="date-crossout">{{ item.date|date("d-m-Y") }}</span>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </section>
        {% else %}
            <p class="color-base"><span class="text-uppercase">Нет данных</span></p>
        {% endif %}

        <div class="text-right">
            <select id="select-limit" class="select-base">
                <option {% if terms.limit == 10 %}selected="selected"{% endif %}>10</option>
                <option {% if terms.limit == 20 %}selected="selected"{% endif %}>20</option>
                <option {% if terms.limit == 30 %}selected="selected"{% endif %}>30</option>
                <option {% if terms.limit == 40 %}selected="selected"{% endif %}>40</option>
                <option {% if terms.limit == 50 %}selected="selected"{% endif %}>50</option>
            </select>
            {{ knp_pagination_render(items) }}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
<script type="text/javascript">
    $(document).ready(function() {
        $("a[href='#']").on('click', function(){return false;});

        $('.datepicker').datepicker({
            format: 'dd-mm-yyyy',
        });

        $(document).on('click', '.export', function(){
            let url = '{{ path('app_export_crossout') }}';
            let form = $("#form-filter");
            form.attr('action', url);
            form.append('<input type="hidden" name="export" value="step1" />');
            form.submit();
        });

        jQuery(function(){
            jQuery("#filter-button").on('click', function(){
                jQuery('input[name=export]').remove();
                jQuery(this).closest('form').attr('action', '{{ path("app_crossout_list") }}');
            });
        });

        jQuery(".checkbox-style input").on('change', function(){
            let cookieIds = jQuery.cookie("crossout-checked-ids");
            if ( cookieIds != undefined) {
                var curIds = cookieIds.split(',');
            }
            else {
                var curIds = [];
            }

            var input = $(this).closest('div').find('input');
            var selectId = input.val();
            // check if checkbox is not "checkAll"
            if (selectId != 'checkbox-bunch-all' && input.attr('id').indexOf('checkbox-bunch') < 0 ) {
                if ($(this).closest('div').find('input').is(':checked')) {
                    // add new id in cookie
                    if (jQuery.inArray( selectId, curIds )<0) {
                        curIds.push(selectId);
                    }
                }
                else {
                    // remove id from cookie
                    curIds = jQuery.grep(curIds, function(value) {
                        return value != selectId;
                    });
                }
                jQuery.cookie("crossout-checked-ids", curIds, { path: '/', expires: 7 });
            }
            jQuery('#checked-products').html(curIds.length);

        });
        $.removeCookie('stock-checked-ids', { path: '/' });
        $.removeCookie('not-crossout-checked-ids', { path: '/' });
        $.removeCookie('sale-checked-ids', { path: '/' });
    });
</script>
{% endblock %}
